<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proje1</title>
</head>
<body>

    <h1>nodejs porje1</h1>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="Add item here">
        <button type="submit">add item</button>
    </form>
    <!-- <table>
        <thead>
            <tr>
                <th>name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <% item.forEach(Function(item){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td>
                        <form action="/<%= item._id %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                        </form>
                        <form action="/<%= item._id %>" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="text" name="name" value="<%= item._id %>">
                            <button type="submit">updata</button>
                        </form>
                    </td>
                </tr>

         <% });>
        </tbody>
    </table> -->
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td>
                        <form action="/<%= item._id %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit">delete</button>
                        </form>
                        <form action="/<%= item._id %>" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="text" name="name" value="<%= item._id %>">
                            <button type="submit">update</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>